body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #060c21;
}

.SkeweedBorder-box {
  position: relative;
  height: 400px;
  background: #060c21;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  width: 100%;
  max-width: 300px;
}
.SkeweedBorder-box:hover .SkeweedBorder-numberTitle {
  top: -180px;
}
.SkeweedBorder-box:hover .SkeweedBorder-link {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.SkeweedBorder-box::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-color: #fff;
  z-index: -1;
  transform: skew(2deg, 2deg);
  background: linear-gradient(315deg, #ff0000, #ffc107);
}
.SkeweedBorder-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
}
.SkeweedBorder-content {
  position: relative;
  padding: 20px;
}
.SkeweedBorder-numberTitle {
  position: absolute;
  top: -60px;
  right: 20px;
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: rgba(255, 255, 255, 0.05);
  transition: 0.5s;
}
.SkeweedBorder-subtitle {
  margin: 0 0 10px;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.SkeweedBorder-text {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.SkeweedBorder-link {
  position: relative;
  text-decoration: none;
  margin: 20px 0 0;
  padding: 10px 20px;
  border: 1px solid #fff;
  display: inline-block;
  color: #fff;
  transition: 0.5s;
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}
.SkeweedBorder-link:hover {
  color: #000;
  background-color: #fff;
}

.GlowingGradient-box {
  position: relative;
  height: 400px;
  background: #060c21;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  width: 100%;
  max-width: 300px;
}
.GlowingGradient-box::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-color: #fff;
  z-index: -1;
}
.GlowingGradient-box::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-color: #fff;
  z-index: -2;
  filter: blur(40px);
}
.GlowingGradient-box::after, .GlowingGradient-box::before {
  background: linear-gradient(235deg, #89ff00, #060c21, #00bcd4);
}
.GlowingGradient-content {
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
}
.GlowingGradient-numberTitle {
  position: absolute;
  top: -60px;
  right: 20px;
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: rgba(255, 255, 255, 0.05);
  transition: 0.5s;
}
.GlowingGradient-subtitle {
  margin: 0 0 10px;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.GlowingGradient-text {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.GlowingGradient-link {
  position: relative;
  text-decoration: none;
  margin: 20px 0 0;
  padding: 10px 20px;
  border: 1px solid #fff;
  display: inline-block;
  color: #fff;
  transition: 0.5s;
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}
.GlowingGradient-link:hover {
  color: #000;
  background-color: #fff;
}