.GlowingGradient {
  &-box {
    position: relative;
    height: 400px;
    background: #060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;

    width: 100%;
    max-width: 300px;

    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      background-color: #fff;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      background-color: #fff;
      z-index: -2;
      filter: blur(40px);
    }

    &::after,
    &::before {
      background: linear-gradient(235deg, #89ff00, #060c21, #00bcd4);
    }
  }

  &-content {
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
  }

  &-numberTitle {
    position: absolute;
    top: -60px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: rgba(255, 255, 255, 0.05);
    transition: 0.5s;
  }

  &-subtitle {
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
  }

  &-text {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  &-link {
    position: relative;
    text-decoration: none;
    margin: 20px 0 0;
    padding: 10px 20px;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
    z-index: 10;

    &:hover {
      color: #000;
      background-color: #fff;
    }
  }
}
